.catalogue {

  max-width: 880px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;

  &-container {
    margin-top: 10px;
    margin-bottom: 1px;
    padding-left: 0px;
  }

  &-item {
    display: inline-block;
  }

  &-time {
    font-size: 10px;
    font-family: sans-serif;
    color: gainsboro;
    margin: 0px;
    margin-left: 2px;
    line-height: 12px;
    padding-bottom: 5px;
  }

  &-bigboy {
    font-size: 60px;
    line-height: 72px;
    letter-spacing: -1px;
    text-indent: -2px;
    margin-bottom: 16px;
    margin-top: 16px;
  }

  &-meta_life {
  	color: #64bf64;
    font-size: 0.82rem;
    font-weight: 300;
    letter-spacing: 0.5px;
    margin: 0px;
    padding-left: 0px;
    text-indent: 1px;
    display: inline-block
  }
  
  &-meta_comma {
  	color: gainsboro;
    font-size: x-small;
    letter-spacing: 0.5px;
    margin: 0px;
    padding: 0px;
    display: inline-block
  }

  &-meta_travel {
  	color: #689ef0;
    font-size: 0.82rem;
    font-weight: 300;
    letter-spacing: 0.5px;
    margin-top: 1px;
    margin-bottom: 0px;
    text-indent: 1px;
    display: inline;
  }
  
  &-meta_kb {
  	color: #9b59b6;
    font-size: 0.82rem;
    font-weight: 300;
    letter-spacing: 0.5px;
    margin-top: 1px;
    margin-bottom: 0px;
    text-indent: 1px;
    display: inline;
  }

  &-meta_thoughts {
  	color: #ff7373;
    font-size: 0.82rem;
    font-weight: 300;
    letter-spacing: 0.5px;
    margin: 0px;
    padding-left: 0px;
    text-indent: 1px;
    display: inline-block
  }

  &-flag {
  	display: inline;
    margin: 0px;
    margin-left: -2px;
    margin-right: 1px;
    margin-bottom: -1px;
    width: auto;
    height: 12px;
  }

  .metasub {
    display: block;
  }
}
